RewriteEngine on
RewriteCond %{HTTP_HOST} ^olivedrab-spoonbill-233474\.hostingersite\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.olivedrab-spoonbill-233474\.hostingersite\.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]